.btn-round {
    @include link(white, white);
    background-color: $main-red;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    display: inline-block;
    padding: 12px 40px;
    font-family: "PTSerif";
    font-size: 30px;

    @include media(w1024) {
        font-size: 22px;
        padding: 8px 30px;
    }

    @include media(w768) {
        font-size: 18px;
    }

    @include media(w500) {
        padding: 8px 10px;
    }

    &__text {
        display: inline-block;
        vertical-align: middle;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;

        @include media(w768) {
            margin-left: 10px;
        }

        @include media(w500) {
            font-size: 1.5rem !important;
            margin-right: 5px;
        }
    }
}