@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans/PTSans-Regular.eot");
    src: url("../fonts/PTSans/PTSans-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTSans/PTSans-Regular.woff2') format('woff2'),
    url("../fonts/PTSans/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans/PTSans-Regular.ttf") format("truetype"),
    url('../fonts/PTSans/PTSans-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans/PTSans-Bold.eot");
    src: url("../fonts/PTSans/PTSans-Bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTSans/PTSans-Bold.woff2') format('woff2'),
    url("../fonts/PTSans/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans/PTSans-Bold.ttf") format("truetype"),
    url('../fonts/PTSans/PTSans-Bold.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: bold;
}
@font-face {
    font-family: "PTSans";
    src: url("../fonts/PTSans/PTSans-CaptionRegular.eot");
    src: url("../fonts/PTSans/PTSans-CaptionRegular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTSans/PTSans-CaptionRegular.woff2') format('woff2'),
    url("../fonts/PTSans/PTSans-CaptionRegular.woff") format("woff"),
    url("../fonts/PTSans/PTSans-CaptionRegular.ttf") format("truetype"),
    url('../fonts/PTSans/PTSans-CaptionRegular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "PTSerif";
    src: url("../fonts/PTSerif/PTSerif-Regular.eot");
    src: url("../fonts/PTSerif/PTSerif-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTSerif/PTSerif-Regular.woff2') format('woff2'),
    url("../fonts/PTSerif/PTSerif-Regular.woff") format("woff"),
    url("../fonts/PTSerif/PTSerif-Regular.ttf") format("truetype"),
    url('../fonts/PTSerif/PTSerif-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSerif";
    src: url("../fonts/PTSerif/PTSerif-Bold.eot");
    src: url("../fonts/PTSerif/PTSerif-Bold.eot?#iefix")format("embedded-opentype"),
    url('../fonts/PTSerif/PTSerif-Bold.woff2') format('woff2'),
    url("../fonts/PTSerif/PTSerif-Bold.woff") format("woff"),
    url("../fonts/PTSerif/PTSerif-Bold.ttf") format("truetype"),
    url('../fonts/PTSerif/PTSerif-Bold.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "RosaMarena";
    src: url("../fonts/RosaMarena/RosaMarena-Regular.eot");
    src: url("../fonts/RosaMarena/RosaMarena-Regular.eot?#iefix")format("embedded-opentype"),
    url('../fonts/RosaMarena/RosaMarena-Regular.woff2') format('woff2'),
    url("../fonts/RosaMarena/RosaMarena-Regular.woff") format("woff"),
    url("../fonts/RosaMarena/RosaMarena-Regular.ttf") format("truetype"),
    url('../fonts/RosaMarena/RosaMarena-Regular.svg#svgFontName') format('svg');
    font-style: normal;
    font-weight: normal;
}