extends templates/layout

block vars
    - var title = 'Век Закона'

block content
    include templates/form
    include templates/sec1
    include templates/sec2
    include templates/sec3
    include templates/sec4
    include templates/sec5
    include templates/sec6
    include templates/sec7




