footer.footer
    div.container.footer__container
        p.footer__text.footer__text_copy.
            © Век закона, 2017<br> юридическая компания
        div.footer__block
            a(href="doc/politic.pdf" target="_blank").footer__text.footer__link.footer__link_politic.
                Политика<br> конфиденциальности
            div.footer__social
                p.footer__social-title.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="https://vk.com/public111677186" target="_blank").footer__link.footer__social-link
                            i.fa.fa-vk
                    //- li.footer__social-item
                    //-     a(href="").footer__link.footer__social-link
                    //-         i.fa.fa-twitter
                    li.footer__social-item
                        a(href="https://www.youtube.com/channel/UCN3J3tzKnkI9SwD2cnhCXNA4" target="_blank").footer__link.footer__social-link
                            i.fa.fa-youtube-play
        div.footer__block.footer__block_contacts
            a(href="tel:84955325045").footer__phone.
                +7 (495) 532-50-45
            a(href="").footer__link.footer__link_getcall.js-small-btn.
                Заказать звонок