footer.footer
    div.container.footer__container
        p.footer__text.footer__text_copy.
            © Век закона, 2017<br> юридическая компания
        div.footer__block
            a(href="").footer__text.footer__link.footer__link_politic.
                Политика<br> конфиденциальности
            div.footer__social
                p.footer__social-title.
                    Мы в социальных сетях
                ul.footer__social-list
                    li.footer__social-item
                        a(href="").footer__link.footer__social-link
                            i.fa.fa-vk
                    li.footer__social-item
                        a(href="").footer__link.footer__social-link
                            i.fa.fa-twitter
                    li.footer__social-item
                        a(href="").footer__link.footer__social-link
                            i.fa.fa-youtube-play
        div.footer__block.footer__block_contacts
            a(href="tel:88635002012").footer__phone.
                8 863 500-20-12
            a(href="").footer__link.footer__link_getcall.
                Заказать звонок