header.header
    div.container.header__container.color-white
        p.header__about.text.text_s.
            Франшиза<br> юридической компании
        a(href="").header__logo
            img(src="img/header-logo.png", alt="").header__logo-img
        div.header__contacts
            a(href="tel:84732324568").header__phone.title.title_xs.
                +7 (473) 232-45-68
            br
            a(href="").header__get-call.text.text_xs.
                Заказать звонок



