section.sec.sec1
    include header
    div.container
        div.sec1__block.color-white.ta-center
            p.heading.heading_xxl.sec1__block-heading.
                Зарабатывайте<br> от 3 000 000 рублей в год
            p.sec1__block-title.
                на юридической защите обманутых дольщиков
            div.sec1__block-note
                span.heading.heading_xs.
                    ВАЖНО: 
                span.text.text_l.text_ptserif.
                    Не обязательно иметь юридическое образование

