section.sec.sec2
    div.container
        div.btn-block.sec2__btn-block.ta-center
            p.text.text_xl.btn-block__title.
                Сколько времени и денег нужно на открытие бизнеса? Придётся ли самостоятельно бегать по судам? Узнайте ответы в презентации
            a(href="").btn-round.btn-block__btn.js-small-btn
                span.btn-round__text.
                    Скачать презентацию
                svg.icon.icon-svg--icon-download.btn-round__icon
                    use(xlink:href="#svg--icon-download")
            p.text.text_s.text_ptserif.color-gray.
                PDF-презентация (6,5 Mb)
        p.heading.heading_m.ta-center.sec2__heading.
            Двухтысячные прошли, а строительные компании всё ещё наживаются на дольщиках
        ul.sec2__list
            li.sec2__list-item
                div.sec2__list-img-container
                    img(src="img/sec2-img1.png", alt="").sec2__list-img
                div.sec2__list-item-text
                    p.sec2__list-item-heading.
                        Более 1,1 млн квартир
                    p.text.text_m.
                        построено в 2015 году в России
            li.sec2__list-item
                div.sec2__list-img-container
                    img(src="img/sec2-img2.png", alt="").sec2__list-img
                div.sec2__list-item-text
                    p.sec2__list-item-heading.
                        8 из 10 
                    p.text.text_m.
                        с привлечением денег по договорам долевого участия
            li.sec2__list-item
                div.sec2__list-img-container
                    img(src="img/sec2-img3.png", alt="").sec2__list-img
                div.sec2__list-item-text
                    p.sec2__list-item-heading.
                        Застройщики 
                    p.text.text_m.
                        берут в оборот деньги с доверчивых граждан, и затягивают строительство домов на срок от полугода до нескольких лет
            li.sec2__list-item
                div.sec2__list-img-container
                    img(src="img/sec2-img4.png", alt="").sec2__list-img
                div.sec2__list-item-text
                    p.sec2__list-item-heading.
                        Это выгодный чёрный бизнес 
                    p.text.text_m.
                        чистая прибыль на обороте капитала достигает 20% в год, а неустойка за сорванный срок строительства – всего 8%



