section.sec.sec3
    div.container.color-white
        div.sec3__btn-block-container
            div.btn-block.sec3__btn-block
                img(src="img/sec3-money.png", alt="").sec3__btn-block-img
                p.heading.heading_s.btn-block__title.
                    В итоге с каждого вложенного миллиона застройщики незаконно зарабатывают
                p.heading.heading_xl.btn-block__subtitle.color-gold.
                    до 200 000 в год!
                a(href="").btn-round.btn-block__btn.sec3__btn
                    span.btn-round__text.
                        Узнать подробнее
        p.heading.heading_m.ta-center.sec3__heading.
            На защиту обманутых граждан встали узкоспециализированные юридические компании
        ul.sec3__list
            li.sec3__list-item
                img(src="img/sec3-icon1.png", alt="").sec3__list-img
                p.text.text_l.
                    Данная сфера не только полезная для общества, но и прибыльна: рентабельность услуг <b>достигает 500%!</b>
            li.sec3__list-item
                img(src="img/sec3-icon2.png", alt="").sec3__list-img
                p.text.text_l.
                    Каждый год в сфере долевого права появляется несколько десятков юридических компаний – ведь обманутых дольщиков хватает на всех.
    div.sec3__bottom.color-white
        img(src="img/sec3-house.png", alt="").sec3__bottom-img
        div.container.sec3__bottom-container
            img(src="img/header-logo.png", alt="").sec3__bottom-logo
            p.sec3__bottom-text.
                защищает интересы дольщиков 
            p.heading.heading_l.sec3__bottom-note.
                уже 10 лет
