section.sec.sec4
    div.container.ta-center
        a(href="").btn-round.sec4__btn
            span.btn-round__text.
                Узнать подробнее
        p.heading.heading_m.sec4__heading.
            Мы помогаем людям вернуть их деньги и неустойку за срыв сроков сдачи жилья
        p.sec4__title.
            Средние показатели нашей деятельности:
        ul.sec4__list
            li.sec4__list-item
                div.sec4__list-img.sec4__list-img_1
                p.text.text_m.sec4__list-text.
                    11 выплаченных компенсаций в месяц
            li.sec4__list-item
                div.sec4__list-img.sec4__list-img_2
                p.text.text_m.sec4__list-text.
                    20 000 рублей чистой прибыли в день с каждого направления
            li.sec4__list-item
                div.sec4__list-img.sec4__list-img_3
                p.text.text_m.sec4__list-text.
                    15 минут – время реагирования на заявку клиента