section.sec.sec5
    div.container.ta-center.sec5__container
        div.btn-block.sec5__btn-block
            p.text.text_m.btn-block__text.
                Команда компании – это 20 узких специалистов во всех сферах права. Клиенты выбирают нас за комплексную защиту и возможность следить за движением их дела онлайн.
            div.btn-block__border.sec5__btn-block-border
                |Станьте владельцем компании «Век закона» в своём городе уже через 4 недели
                a(href="").btn-round.btn-block__btn.sec5__btn-block-btn
                    span.btn-round__text.
                        Узнать подробнее
        div.color-white.ta-center
            p.heading.heading_m.sec5__heading.
                На защиту обманутых граждан встали узкоспециализированные юридические компании
            p.text.text_xl.sec5__title.
                Вы получите инструменты, которые сэкономят вам 10 лет реальной юридической практики:
        ul.sec5__list.color-white
            li.sec5__list-item
                p.text.text_m.sec5__list-item-text.
                    Право использования бренда «Век закона» в вашем городе
            li.sec5__list-item
                p.text.text_m.sec5__list-item-text.
                    Советы по поиску и ремонту помещения
            li.sec5__list-item
                p.text.text_m.sec5__list-item-text.
                    Бизнес- и маркетинг-план
            li.sec5__list-item
                p.text.text_m.sec5__list-item-text.
                    Инструкции по найму персонала
            li.sec5__list-item
                p.text.text_m.sec5__list-item-text.
                    Материалы для онлайн и офлайн рекламы
            li.sec5__list-item
                p.text.text_m.sec5__list-item-text.
                    Мощную CRM-систему для удобной работы с делами клиентов
        div.btn-block.sec5__btn-block-bottom.color-white
            p.sec5__btn-block-bottom-title.
                Ваша работа будет максимально простой: 
            p.text.text_xl.btn-block__text.
                встретиться с клиентом вживую, заключить договор и представить наши интересы в суде. Всё! 
            div.btn-block__border.sec5__btn-block-bottom-border
                |Работу с законами, претензиями и другими аспектами права мы возьмём на себя
                img(src="img/sec6-books.png", alt="").sec5__btn-block-bottom-img

