section.sec.sec6
    div.container.sec6__container.ta-center
        p.heading.heading_s.sec6__heading.
            Узнайте полный состав франшизы из презентации:
        a(href="").btn-round.btn-block__btn.js-small-btn
            span.btn-round__text.
                Скачать и узнать
            svg.icon.icon-svg--icon-download.btn-round__icon
                use(xlink:href="#svg--icon-download")
        p.text.text_s.text_ptserif.color-gray.
            PDF-презентация (6,5 Mb)
    div.sec6__block-bg
        div.container.sec6__block-container
            div.sec6__block
                p.heading.heading_m.sec6__block-heading.
                    Мы поможем сэкономить на стартовых инвестициях до 250 000 рублей
                p.text.text_m.sec6__block-text.
                    Для старта вам потребуется:
                ul.sec6__block-list
                    li.sec6__block-list-item
                        p.sec6__block-list-heading.
                            100 000 <span>Ᵽ</span>
                        p.text.text_m.
                            на франшизу
                    li.sec6__block-list-item
                        p.sec6__block-list-heading.
                            60 000 <span>Ᵽ</span>
                        p.text.text_m.
                            рублей на аренду офиса и вывеску
                p.text.text_m.
                    Все вложения окупятся уже на второй месяц работы
                img(src="img/sec7-people.png", alt="").sec6__block-img
            img(src="img/sec7-people.png", alt="").sec6__block-img-mobile
    div.sec6__note.color-white.ta-center.
        Никаких ежемесячных платежей и расходов на рекламу!



